@import url("https://fonts.googleapis.com/css?family=Bitter&display=swap");

body {
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
}

#app {
  position: absolute;
}

.main-title {
  width: 100%;
  height: 60px;
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 500;
  font-family: "Bitter", serif;
  z-index: 2;
  color: rgb(255, 255, 255);
  font-style: italic;
}

.period {
  color: #3282b8;
  font-size: 30px;
  font-weight: bold;
}

.news-section {
  margin-top: 60px;
  width: 100%;
  position: absolute;
}

.filters {
  width: 250px;
  background-color: #0f4c75;
  position: fixed;
  height: 100%;
  color: #bbe1fa;
}

.news-tabs {
  background-color: #ddd;
  color: #3282b8;
}

.news-category {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 100%;
}

.active-news-category {
  background-color: #3282b8;
  color: #ddd;
}

.news-category:hover {
  background-color: #3282b8;
  color: #ddd;
}

.get-filtered-news {
  cursor: pointer;
}

.error-message {
  color: rgb(188, 43, 43);
  font-size: 13px;
  margin-top: 5px;
}

#top-healines-filter {
  display: none;
}

#search-by-keyword {
  width: 200px;
  height: 25px;
  margin-top: 0.5rem;
  border: none;
  border-radius: 1rem;
}

::placeholder {
  padding-left: 10px;
  color: #0f4c75;
}

.date-of-publish {
  color: #888;
  margin-top: -5px;
}

#filter-fields {
  margin: 10px 15px;
}

#news-articles {
  margin-left: 250px;
  width: calc(100vw - 250px);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news-article {
  width: 80%;
  margin-top: 20px;
}

.news-title {
  font-size: 19px;
  text-decoration: underline;
  margin-bottom: 5px;
}

.news-description {
  margin-top: 12px;
}

@media only screen and (max-width: 720px) {
  .news-section {
    display: flex;
    flex-direction: column;
  }

  .filters {
    width: 100%;
    height: 210px;
  }

  .news-tabs {
    display: flex;
    margin-bottom: 20px;
  }

  .news-category {
    width: 50%;
  }

  #news-articles {
    width: 100vw;
    margin-top: 220px;
    margin-left: 0;
  }

  .news-article {
    width: 95%;
  }
}

@media only screen and (max-width: 420px) {
  .filters {
    height: 250px;
  }

  .news-tabs {
    flex-direction: column;
  }

  .news-category {
    width: 100%;
  }
}
